.asu-usbs {
    display: flex;
    gap: 15px;
}

.logo__usbs {
    width: 60px;
    height: 70px;
}

@media screen and (max-width: 720px) {
    .logo__text {
        display: none;
    }

    .logo__usbs {
        width: 35px;
        height: 45px;
    }
}