
.asu-usbs {
    display: flex;
    gap: 15px;
}

.logo__text {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.2rem;
}

.logo__asu {
    width: 70px;
    height: 70px;
}

@media screen and (max-width: 720px) {
    .logo__text {
        display: none;
    }

    .logo__asu {
        width: 45px;
        height: 45px;
    }
}