.ags__title {
    text-align: center;
    margin-bottom: 15px;
    transition: color 0.3s;
}
.ags__map {
    width: 100%;
}

.ags__title:active {
    color: #808080;
}
.ags__title:hover {
    color: #808080;
}
.ags__title:focus {
    color: #808080;
}